*{
	box-sizing: border-box;
}

body {
	background-image: url(giphy.gif);
	background-repeat:repeat;
	background-size:cover;
	background-position:center;
	width:contain;
	padding: 20px;
}

h3{
	font-size: 25px;
}

h2{
	font-size: 30px;
}

p{
	color: #70674d;
	font-size: 15px;
}

.header{
	background-image: url(background.gif);
	background-size:700px 700px;
	background-position:center;
	padding: 20px;
	
}
.header{
	color: #ffffff;
	font-size: 40px;
	text-align: center;
}

.topnav{
	overflow: hidden;
	background-image: url(navigator.gif);
	background-position:center;
	background-size:1500px 1000px;
}

.topnav a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align:center;
	font-size:20px;
	padding: 18px 16px;
	text-decoration: none;
}

.topnav a:hover{
	color: red;
}
.leftcol{
	float: left;
	width: 30%
}
.row:after{
	content:"";
	display:table;
	clear:both;
}
.card{
	background-image: url(icey-background-4.jpg);
	padding: 10px;
	margin-top: 20px;
}

.footer{
	text-align: center;
	padding: 10px;
}

